<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Senpai</title>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_pack_tag 'senpai' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="app--nk theme--nk layout--flex">
            <header>
                Header
            </header>

            <div id="main" class="main-content">
                <nav>
                    <ul>
                        <li>
                            <%= c_icon title: "Cases" %>
                        </li>
                        <li>Link</li>
                        <li>Link</li>
                        <li>Link</li>
                        <li>Link</li>
                    </ul>
                </nav>
                
                <div class="app-content">                
                    <%= yield %>
                </div>
            </div>

            <footer>
                Footer
            </footer>
        </div>

        <%= javascript_pack_tag 'senpai' %>
    </body>
</html>
